[Unit]
Description=flask server for andersen course
After=network.target

[Service]
User={{ansible_ssh_user}}
WorkingDirectory=/Flask
Environment="PATH=/Flask/myenv/bin"
ExecStart=/Flask/myenv/bin/uwsgi --ini /Flask/config.ini

[Install]
WantedBy=multi-user.target