[Unit]
Description=flask server for andersen course
After=network.target

[Service]
User=root
WorkingDirectory=/Flask
Environment="PATH=/Flask/myenv/bin"
ExecStart=/Flask/myenv/bin/python /Flask/app.py

[Install]
WantedBy=multi-user.target